{% extends 'layout.html' %}

{% block cust_stylesheet %}
{% endblock %}

{% block content %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3 fixed-top bg-dark">
        <!--the filter options sidebar will go here-->
      </div>
      <div class="col-md">
        <div class="container" id="alljobs">
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block cust_scripts %}
  <script>
    function test_func(jobs) {
      const container = document.getElementById('alljobs');
      var j;
      var content = '';
      console.log("percentage length", percent.length)
      for (j = 0; j < jobs.length; j++) {
        //j is the correct job tuple.
        var job_descrip = jobs[j][1]
        var package = jobs[j][2]
        var num_open = jobs[j][3]
        // if(i%3==0) content+=`<div class="row">`;
        content += `<div class="col-md card card-cascade wider m-3">
            <!-- Card image -->
            <div class="view view-cascade overlay">
              <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/photo6.jpg"
                alt="Card image cap">
              <a href="#!">
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>

            <!-- Card content -->
            <div class="card-body card-body-cascade text-center">
              <!-- Title -->
              <h4 class="card-title"><strong>${job_descrip}</strong></h4>
              <!-- Subtitle -->
              <h5 class="blue-text pb-2"><strong>Package:${package}</strong></h5>
              <h5 class="blue-text pb-2"><strong>Number of openings:${num_open}</strong></h5>
              <h5 class="blue-text pb-2 text-muted"><strong>${percentage}% match!</strong></h5>
              <!-- Text -->
              <p class="card-text">Sed ut perspiciatis unde omnis iste natus sit voluptatem accusantium doloremque
                laudantium, totam rem aperiam. </p>
              <button class="btn purchase-btn">Apply</button>
            </div>
            </div>`;
        // if(i%3==2) content+=`</div>`;
        console.log('end of outer',i)
      }
      container.innerHTML += content;
    }
    test_func({{ jobs| safe }})

  </script>
{% endblock cust_scripts %}