{% extends 'layout.html' %}

{% block cust_stylesheet %}
{% endblock %}

{% block navbar1 %}
{% include 'navbar1.html' %}
{% endblock navbar1 %}


{% block content %}
<div class="container-fluid">
  <div class="container">
    <div class="row mt-5" id="displayseekers">

    </div>
  </div>
</div>
{% endblock content %}

{% block cust_scripts %}
<script>
  function test_func(seekers, allskills) {
    const container = document.getElementById('displayseekers');
    console.log(seekers);
    console.log(allskills);
    for (i = 0; i < seekers.length; i++) {
      if (i % 3 == 0) container.innerHTML += `<div class="row">`;
      console.log(i);
      container.innerHTML += `
        <div class="col-md card card-cascade wider m-3">
        <p>Name: ${seekers[i][2]}. ${seekers[i][3]}. ${seekers[i][4]}</p>
        <p>Gender: ${seekers[i][6]}</p>
        <p>Contact: ${seekers[i][7]}</p>
        <p>Email: ${seekers[i][8]}</p>
        <p>About: ${seekers[i][22]}</p>
        <p>Hobbies: ${seekers[i][23]}</p>
        <p>School: ${seekers[i][10]}</p>
        <p>10th Percentage: ${seekers[i][11]}</p>
        <p>Junior College: ${seekers[i][12]}</p>
        <p>12th Percentage: ${seekers[i][13]}</p>
        <p>Graduation details</p>
        <p>College: ${seekers[i][14]}</p>
        <p>Course: ${seekers[i][16]}</p>
        <p>CGPA: ${seekers[i][15]}</p>
        <p>Year Of Passing: ${seekers[i][17]}</p>
        <p>Post Graduation details</p>
        <p>College: ${seekers[i][18]}</p>
        <p>Course: ${seekers[i][20]}</p>
        <p>CGPA: ${seekers[i][19]}</p>
        <p>Year Of Passing: ${seekers[i][21]}</p>
        <p>skills:`;
        for (j = 0; j < allskills[i].length; j++) {
          container.innerHTML += `${allskills[i][j]},`;
        }
    container.innerHTML += `</p></div>`;
    if (i % 3 == 0) container.innerHTML += `<div class="row">`;
    }
  }
  test_func({{ seekers| safe }}, {{ allskills| safe }})

</script>
{% endblock cust_scripts %}