<!-- main content here -->
<!--Main Navbar-->
<header class="container-fluid">
    <nav class="navbar navbar-expand-md navbar-light fixed-top main-nav pt-3">
      <!--make this something else -->
      <div class="container-fluid">
        <a href="#"></a>
        <!--for logo -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
  
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <!-- {# if current_user.is_authenticated #}
            <div class="ml-auto">
              <a class="btn btn-sm nav-btn mr-2" name="Profile" href="{# url_for('Profile') #}">Profile</a>
              <a class="btn btn-sm nav-btn mr-2" name="Logout" href="{# url_for('logout') #}">Logout</a>
            </div>
          {# else #} -->
          {% if 'username' in session %}
          <div class="navbar-nav ml-auto"></div>
            <div class="nav-ip mr-2">Welcome, {{session.username}}</div>
            <a class="btn btn-sm nav-btn mr-2" href="logout">Logout</a>
          </div>
          {% else %}
            <form class="form-inline navbar-nav ml-auto" method="POST" action="">
              {{ navform.hidden_tag() }}
              <a class="btn btn-sm nav-btn mr-2" name="Contact us" href="{# url_for('contact') #}">Contact Us</a>
              <!-- <input type='text' name='uname' placeholder="Username" class="form-control form-control-sm nav-ip mr-2"> -->
             
              <!-- <input type='password' name='pwd' placeholder="Password" class="form-control form-control-sm nav-ip mr-3"> -->
              {% if navform.username.errors %}
                {{ navform.username(class="form-control form-control-sm is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in navform.username.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
              {% else %}
                  {{ navform.username(class="form-control form-control-sm nav-ip mr-2",placeholder="Username") }}
              {% endif %}
  
              {% if navform.password.errors %}
                {{ navform.password(class="form-control orm-control-sm is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in navform.password.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
              {% else %}
                  {{ navform.password(class="form-control form-control-sm nav-ip mr-2",placeholder='Password') }}
              {% endif %}
              <!-- <button class="btn btn-light btn-sm nav-btn mr-2" name="login">Log In </button> -->
              {{ navform.login(class="btn btn-sm nav-btn mr-2") }}
            </form>
          {% endif %}
        </div>
      </div>
    </nav>
  </header>

  <script>
   
  </script>