<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="styles.css">
	<title>Name of the JobSeeker</title>
</head>
<body>

	<div class="container-fluid">

	<div class="row extra_margin">	
	
		<div class="col-md-4">

			<div class="text-center">

				<img src="https://via.placeholder.com/350x400">
				<h2>Find XYZ on</h2>
				<!-- <a href="#"><i class="fa fa-facebook fa-2x"></i></a>
				<a href="#"><i class="fa fa-instagram fa-2x"></i></a>
				<a href="#"><i class="fa fa-twitter fa-2x"></i></a>
				<a href="#"><i class="fa fa-google-plus-g fa-2x"></i></a> -->
				<p>
                <a class="btn btn-primary btn-s" href="#" role="button">Facebook</a>
                <a class="btn btn-primary btn-s" href="#" role="button">Twitter</a>
                <a class="btn btn-primary btn-s" href="#" role="button">Instagram</a>
                <a class="btn btn-primary btn-s" href="#" role="button">Website</a>
                </p>
		</div>		

	</div>	
		<div class="col-md-8">
			<hr>
			<div class="col-sm-5 col-xs-6 tital " >First Name:</div><div class="col-sm-7 col-xs-6 ">JobSeeker's first name</div>
			   <div class="clearfix"></div>
			<div class="bot-border"></div>
			<hr>

			<div class="col-sm-5 col-xs-6 tital " >Middle Name:</div><div class="col-sm-7">JobSeeker's second name</div>
			  <div class="clearfix"></div>
			<div class="bot-border"></div>
			<hr>
			<div class="col-sm-5 col-xs-6 tital " >Last Name:</div><div class="col-sm-7"> JobSeeker's last name</div>
			  <div class="clearfix"></div>
			<div class="bot-border"></div>
			<hr>
			<div class="col-sm-5 col-xs-6 tital " >Areas of Interest:</div><div class="col-sm-7">JobSeeker's interests</div>

			  <div class="clearfix"></div>
			<div class="bot-border"></div>
			<hr>
			<div class="col-sm-5 col-xs-6 tital " >Skills:</div><div class="col-sm-7">his skills</div>

			  <div class="clearfix"></div>
			<div class="bot-border"></div>
			<hr>
			<div class="col-sm-5 col-xs-6 tital " >Experience:</div><div class="col-sm-7">number of years</div>

			 <div class="clearfix"></div>
			<div class="bot-border"></div>
			<hr>
			<div class="col-sm-5 col-xs-6 tital " >Location:</div><div class="col-sm-7">Current city</div>

			 <div class="clearfix"></div>
			<div class="bot-border"></div>
			<hr>
			<div class="col-sm-5 col-xs-6 tital " >Education Qualification</div><div class="col-sm-7">BTech sort</div>

		</div>










	</div>
	</div>

</body>
</html>